PORT=3000
PAYMENT_GATEWAY_URL=http://localhost:3000/api/payment/verify
FRONTEND_URL=

# DB
DB_NAME=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=

# S3
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=

# JWT
JWT_USER_ACCESS_TOKEN_SECRET=
JWT_USER_REFRESH_TOKEN_SECRET=
JWT_SUPPLIER_ACCESS_TOKEN_SECRET=
JWT_SUPPLIER_REFRESH_TOKEN_SECRET=

# Zarinpal
ZARINPAL_REQUEST_URL=https://sandbox.zarinpal.com/pg/v4/payment/request.json
ZARINPAL_VERIFY_URL=https://sandbox.zarinpal.com/pg/v4/payment/verify.json
ZARINPAL_GATEWAY_URL=https://www.zarinpal.com/pg/StartPay
ZARINPAL_MERCHANT_ID=